.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
}

.dialog {

}

.dialogsItems {
    padding: 10px;
    color: #4a76a8;
}

.dialogsItems .active {
    color: #4a76a8;
}
.messages {
    padding: 10px;
}

.messages .message {
 color: #4a76a8;
}